# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Google Cloud SDK
google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz

# Docker
Dockerfile

# Logs
server.logmineral-concord-394714-a9d28aca2cab.json
